<h1> Nation Details</h1>

<%= "Total No. Members: #{@members.count}" %>

<% @members.first(25).each do |member| %>
  <ul class='par_members'>
    <p class='name'>
     <h2><%= member.name %></h2>
    </p>
    <p class='image'>
      <img src="#{member.photo}" >
    </p>
    <p class='allies'>
    <h4> Allies </h4> 
      <% member.allies.each do |ally| %>
        <li><%= ally %></li>
      <% end %>
    </p>
    <p class='enemies'>
    <h4> Enemies </h4> 
      <% member.enemies.each do |enemy| %>
        <li><%= enemy %></li>
      <% end %>
    </p>
    <p class='affiliations'>
    <h4> Affiliations </h4> 
      <li><%= member.affiliations %></li>
    </p>
  </ul>
<% end %>